* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    
    width: 420px;
    height: 420px;
    border: 2px solid #9163d7;
    border-radius: 25px;
    text-align: center;
}