* {

    margin: 0;
    padding: 0;

}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Deixa o elemento invisível
.collapse{
    visibility: collapse;
} 
*/